/* Content Page Specific Styles */

main {
    padding: 20px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #141e46;
    margin-bottom: 10px;
}

h3 {
    color: #41b06e;
    margin-top: 15px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

ul {
    list-style-type: square;
    text-align: left;
    margin: 15px auto;
    padding-left: 20px;
    max-width: 600px;
}

ul li {
    margin: 5px 0;
    color: #555;
}
