/* Reset some default styles */
body, h1, h2, p, ul, li, a, table, th, td {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border-collapse: collapse;
}

/* Apply the hero background to the entire site */
body {
    font-family: Arial, sans-serif;
    /* background: url('../images/background.jpg') no-repeat center center/cover; */
    background-attachment: fixed; /* Keep the background fixed when scrolling */
    background-size: cover;
    color: #141e46; /* Dark Blue text color */
}

/* Navigation Bar Styling */
header {
    backface-visibility: hidden;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    opacity: 9.0;
    background: rgba(0, 0, 0, 0.3); /* Semi-transparent overlay */
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    z-index: 3; 
}

.logo img {
    height: 60px;
    margin-right: 5px;
}

nav ul {
    display: flex;
    gap: 30px;
    margin-inline-start: auto;
    margin-top: 15px;
    z-index: 1;
}

nav ul li a {
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding: 25px 30px;
    transition: 0.3s;
    height: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

nav ul li a:hover {
    background-color: #41b06e;
}

nav ul li a.active {
    background-color: #41b06e;
    color: white;
    font-weight: bold;
}

/* Keep the hero section the same */
.hero {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #141e46;
    padding: 20px;
}
#title {
    font-weight: bold;
    margin-bottom: 15px;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    justify-content: center;
    
}
/* Main Content */
main {
    padding: 20px;
    text-align: center;
}

/* Table Styling */
table {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #ccc;
    background: white;
}

thead {
    background: #141e46;
    color: white;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background: #f4f4f4;
}

/* Footer */
footer {
    background: rgba(20, 30, 70); /* Dark Blue with transparency */
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}
